{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 6</title>
{% endblock meta %}

{% block content %}
  <div class="container-fluid" style="background-color: aliceblue ;background-size: cover; height: 100vh; text-align: center;">
    <h1 style="color: yellowgreen; padding-top: 200px; font-weight: 800; font-size: 70px;">Kegiatan Story 6</h1>
    <a href="{% url 'main:daftar' %}" class="btn btn-secondary btn-lg" role="button" style="margin-top: 50px;">IKUT!</a>
  </div>
{% endblock content %}
