{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan</title>
{% endblock meta %}

{% block content %}
    <div class="kegiatan-card">
        <h2>{{ kegiatan.kegiatan }}</h2>
        
        <!-- Daftar Nama Peserta -->
        <p>Peserta: </p>
        {% if kegiatan.peserta.all|length > 0 %}
        {% for nama in kegiatan.peserta.all %}
            <div class="nama-peserta"><p>{{ nama }}</p></div>
        {% endfor %}

        {% else %}
            <div class="nama-peserta"><p>--Tidak ada peserta--</p></div>
        {% endif %}
        
        <!-- Form daftar peserta kegiatan -->
        <div class="">
            <form class="tambah-peserta" action="{% url 'main:daftar' %}" method="POST">
                {% csrf_token %}
                {{ form_peserta.anggota }}
        
                <a ><button type="submit" class="button">Tambah Peserta</button></a>
            </form>
        </div>
    </div>
    <a href="{% url 'main:tambah' %}" class="btn btn-secondary btn-lg" role="button" style="margin-top: 50px;">TAMBAH KEGIATAN</a>
{% endblock content %}