{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pendaftaran</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid" style="background-color: aliceblue ;background-size: cover; height: 100vh; text-align: center;">
        <!-- Daftar Kegiatan -->
            <div class="kegiatan-card">
                <h2>Tambah Kegiatan Baru</h2>
        <!-- Form daftar peserta kegiatan -->
            <div class="">
                <form class="tambah-peserta" action="" method="POST">
                {% csrf_token %}
                {{ form_kegiatan.kegiatan }}
        
                <a ><button type="submit" class="button">Tambah Kegiatan</button></a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}