
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 150px;
  justify-content: center;
}

button{
  border: none;
  cursor: pointer;
}

h2{
  text-align: center;
}

.kegiatan-card{
  box-sizing: border-box;
  display: inline-block;
  max-height: fit-content;
  min-width: 300px ;
  max-width: 400px ;
  border-radius: 5px;
  border: 1px solid #35e4d5;

  margin: 24px;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.kegiatan-card h2{
  margin-bottom: 24px;
}

.tambah-peserta{
  display: flex;
  margin: 24px auto;
  margin-bottom: 0;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tambah-peserta input{
  margin-bottom: 24px;
  
}

.nama-peserta{
  margin: 8px auto;
  text-align: center;
  border-bottom: 1px solid #35e4d5;
}

.nama-peserta p{
  text-align: center;
}